<a href="https://colab.research.google.com/github/amrithaks87dot/ict_assignment/blob/main/ASSIGNMENT03_AMRITHA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
def find_max(a, b, c):
  if a >= b and a >= c:
    return a
  elif b >= a and b >= c:
    return b
  else:
    return c
num1 = 10
num2 = 25
num3 = 15

maximum = find_max(num1, num2, num3)
print(f"The maximum of {num1}, {num2}, and {num3} is: {maximum}")

The maximum of 10, 25, and 15 is: 25

In [ ]:
#2
sample_list = [18, 12, 30, 10, 7]
result_simple = sum(sample_list)

print(f"The sum of the numbers using sum() is: {result_simple}")

The sum of the numbers using sum() is: 77

In [ ]:
#3
my_list = [10, 20, 40, 50]
number_to_insert = 30
position = 2

my_list.insert(position, number_to_insert)

print(my_list)

[10, 20, 30, 40, 50]

In [ ]:
#4
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

sample_dict['location'] = sample_dict.pop('city')

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
#5
sample_dict={
    'emp1':{'name':'john','salary':7500},
    'emp2':{'name':'emma','salary':8000},
    'emp3':{'name':'brad','salary':500}
}
print(f"sampledict={sample_dict}")
sample_dict['emp3']['salary'] =8500

sampledict={'emp1': {'name': 'john', 'salary': 7500}, 'emp2': {'name': 'emma', 'salary': 8000}, 'emp3': {'name': 'brad', 'salary': 500}}

In [ ]:
#6
tuple1 = (11, 22, 33, 44, 55, 66)
new_tuple = tuple1[3:5]

print("Original tuple:", tuple1)
print("New tuple with elements 44 and 55:", new_tuple)

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elements 44 and 55: (44, 55)

In [ ]:
#7
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
item_to_count = 50
occurrences = tuple1.count(item_to_count)
print(f"The item {item_to_count} appears {occurrences} times in the tuple.")

The item 50 appears 3 times in the tuple.