<a href="https://colab.research.google.com/github/amrithaks87dot/ict_assignment/blob/main/ASSIGNMENT01_AMRITHA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 question answer

In [ ]:
a = int(input(" item 1 price : "))
b = int(input(" item 1 quantity: "))
c=int(input(" item 2 price: "))
d=int(input(" item 2 quantity: "))
t= a*b+c*d
print(t)

 item 1 price : 45
 item 1 quantity: 3
 item 2 price: 30
 item 2 quantity: 2
195

2 q answer

In [ ]:
c= int(input("enter temperature in celsius:"))
f=c*9/5+32
print("temperature in fahreheit:",f)

enter temperature in celsius:30
temperature in fahreheit: 86.0

3 Q Answer

In [ ]:

a= int(input ("enter basic salary:"))
b= int(input("enter HRA IN PERCENTAGE:"))
c= int(input("enter DA IN PERCENTAGE:"))
print("net salary:",a+(a*b/100)+(a*c/100))

enter basic salary:20000
enter HRA IN PERCENTAGE:20
enter DA IN PERCENTAGE:10
net salary: 26000.0

4 Q Answer

In [ ]:
a=int(input("enter the principle amount:"))
b=int(input("enter rate of interest:"))
c=int(input("time in year"))
print("simple interest:",(a*b*c)/100)

enter the principle amount:10000
enter rate of interest:5
time in year2
simple interest: 1000.0

5 Q Answer

In [ ]:
tot_minutes = int(input("enter total minutes:"))
hours=tot_minutes // 60
minutes=tot_minutes % 60
print(hours,":",minutes)

enter total minutes:130
2 : 10

6 Q Answer

In [ ]:
W = float(input("weight="))
H = float(input("height="))
BMI = W/(H*H)
print("BMI=",BMI)

weight=60
height=1.65
BMI= 22.03856749311295

7 Q Answer

In [ ]:
original_price =float(input('enter theoriginal price:'))
discounted_amount = original_price-(original_price*0.10)
print("discounted price:",discounted_amount)

enter theoriginal price:1200
discounted price: 1080.0

8 Q Answer

In [ ]:
import math

a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))

s = (a + b + c) / 2
area = (s * (s - a) * (s - b) * (s - c))**(0.5)

print(f"Area of the triangle: {area:.2f}")

Enter side a: 5
Enter side b: 6
Enter side c: 7
Area of the triangle: 14.70

9 Q Answer

In [54]:

l=int(input("enter the wall length (m): "))
h=int(input("enter the wall height(m): "))
a1=l*h
a = a1-(2*(1.5*1.2))
print("Total area to be painted= ",a)
c = a*25
print("Total painting cost=",c)

enter the wall length (m): 12
enter the wall height(m): 8
Total area to be painted=  92.4
Total painting cost= 2310.0

10 Q Answer

In [53]:
units_consumed = int(input("Enter number of units consumed: "))
rate_per_unit = 5.2
fixed_charge = 100

total_bill = (units_consumed * rate_per_unit) + fixed_charge

print(f"Electricity Bill: â‚¹{total_bill:.1f}")

Enter number of units consumed: 250
Electricity Bill: â‚¹1400.0